bin
obj
/Weapons Factory - The Project/WeaponsFactory.ConsoleClient/bin
/Weapons Factory - The Project/WeaponsFactory.ConsoleClient/obj
/Weapons Factory - The Project/WeaponsFactory.Data/bin
/Weapons Factory - The Project/WeaponsFactory.Data/obj
/Weapons Factory - The Project/WeaponsFactory.DataAccess/bin
/Weapons Factory - The Project/WeaponsFactory.DataAccess/obj
/Weapons Factory - The Project/WeaponsFactory.Models/bin
/Weapons Factory - The Project/WeaponsFactory.Models/obj
/Weapons Factory - The Project/XMLOperationsModule/obj
/Weapons Factory - The Project/*.suo
